#gif1{
  max-width: 60%;
  position: relative ;
  align-items: center ;
  font-size :1.5rem ;
  z-index: 1;
}
#gif1 img{
  width: 100%;
  
}
div.search-input{
  border :1px solid #C4C4C4 ;
  border-radius :1.25rem;
  height:2.25rem ;
  margin :0 1rem ;
}
div.search-input > i{
  padding-top :0.5725rem;
  text-align :center ;
  width :13%;
}
div.search-input .input-field{
  border :0;
  height :90%;
  width :80%;
}
div.search-input .input-field:focus{
  border :0;
  outline :none ;
}