<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/about.css')}}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gabriela&display=swap" rel="stylesheet">
</head>

<body style=" font-family: 'Gabriela', serif;
">
    {% block content %}
    <section id="About">
        <h2 style="text-align: center;"><strong>ABOUT US</strong></h2>
        <p style="font-weight: bold; text-align: center;">
            <img src="../static/images/KE_W19_LP_About_Us_01 (1).jpg" alt="" srcset="" width="100%">
            Jumia, Kenya's no. 1 online retailer was established in May 2013 with the aim and vision to become the
            one-stop shop for retail in Kenya with implementation of best practices both online and offline.
            Jumia is the largest online retail store in Kenya.
            At inception we did an average delivery time of a week, today we do, on average, delivery in 1-5 days.
            Initially starting with 3 employees, Jumia presently has a staff strength of 1000 young and entrepreneurial
        </p>
        <p>
            <h1 style="text-align: center;"><strong>OUR VISION</strong></h1>
        </p>
        <p style="font-weight: bold; text-align: center;">
            Our approach unifies design, development and product management to
            create exceptional products.
        </p>
        <img src="../static/images/download (3).jpeg" alt="" srcset="" width="30%" style="  display: block;   margin-left: auto;   margin-right: auto;">
        <h1 style="text-align: center;"><strong>JUMIA TODAY</strong></h1>
        <p style="font-weight: bold; text-align: center;">

            In a Nutshell

            5,000,000
            Products16
            African
            Countries820
            International
            & National
            Brands60% Women
            Managers
            Jumia offers the
            widest assortment
            at an unbeatable price#1 in Kenya online
            retailer and is present
            in Morocco, Egypt,Samsung,
            Infinix, Innjoo,
            Vero Moda, Jack & Jones...

            1,500,000
            Subscribers1200
            Employees15,000,000
            Monthly
            Visitors135,000
            Orders
            Across Kenya#1 in Kenya online
            retailer and is present
            in Morocco, EgyptJumia offers the
            widest assortment
            at an unbeatable priceDuring Black Friday 2016
        </p>

    </section>
    {% endblock%}



</body>


</html>