{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Jumia online website</title>
    {% endif %}
    <!-- Styles block -->
    {% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}
</head>

<body>
    {% block content %}
    <footer>
        <div class="social">
            <div class="row">
                <div class="col-md-3">
                    <h1 style="font-weight: bold; color: darkorange; font-style: italic;">Feel free to reach to us at any given time;</h1>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <a href="#" class="fa fa-instagram"></a>
                    <a href="#" class="fa fa-pinterest"></a>
                </div>
                <div class="col-md-3">
                    <div class="help">
                    <h2 style="font-weight: bold; color: darkorange; font-style: italic;" >LET US HELP YOU</h2>
                            <ul>
                            <li>Help Center</li>
                            <li>How to shop on Jumia</li>
                            <li>Track your order</li>
                            <li>Return policy</li>
                            <li>Shipping and Delivery</li>
                        </ul>
                    </div>
                        </div>

            <div class="col-md-3">
                <div class="about">
                    <p style="font-weight: bold; color: darkorange; font-style: italic;">GET TO KNOW US</p>
                    <ul>
                        <li>About us</li>
                        <li>Jumia Express</li>
                        <li>Terms and conditions</li>
                        <li>Black Friday</li>
                        <li>Privacy policy</li>

                    </ul>
                </div>
            </div>
            <div class="col-md-3">
                <div class="jumia">
                    <p style="font-weight: bold; color: darkorange; font-style: italic;">MAKE MONEY WITH JUMIA</p>
                    <ul>
                        <li>Sell on Jumia</li>
                        <li>Become an Affiliate Partner</li>
                        <li>JForce Make Money Online</li>
                        <li>City Partner Program</li>
                        <li>Become a Logistic Service Partner</li>
                    </ul>
  ,              </div>
            </div>


            </div>
</div>

{% endblock %}
    </footer>
   

</body>