{% extends 'bootstrap/base.html'%}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    {% if title %}
    <title> {{ title }}</title>
    {% else %}
    <title> Jumia online website</title>
    {% endif %}

</head>

<body>
    <!-- Content block -->

    {% block content %}
    <!--gif image-->
    <div id="gif1" style="width: 1200px;">
        <img src="../static/images/gify.gif" alt="sliding info gif">
        <button type="submit">X</button>
    </div>
    <br><br><br>
    <div class="container">
        <div class="card-2" style=  "flex-wrap: wrap; display: flex;">
            <img src="../static/images/galaxy-note-10.jpg" width="150px" height="100px">  
            <p class="text1" style="color:blueviolet">Mozzarella Pizza</p>
            <img src="../static/images/A20.png" width="150px" height="100px"> 
            <p class="text3" style="color:blueviolet">chicken-tikka-1 Pizza</p>
            <img src="../static/images/download.jpeg" width="150px" height="100px"> 
            <p class="text4" style="color:blueviolet">Pepperoni Pizza<br></p>
            <img src="../static/images/samsung-galaxy-a7-a750-mobile-phone-500x500.jpg" width="150px" height="100px"> 
            <p class="text5" style="color:blueviolet">Margherita Pizza<br></p>
        </div>
        <br><br><br>
        <div class="card-2" style=  "flex-wrap: wrap; display: flex;">
            <img src="../static/images/samsung-48-inch-curved-tv-ua48j6300ak-series-6.jpg" width="150px" height="100px">  
            <p class="text1" style="color:blueviolet">Mozzarella Pizza</p>
            <img src="../static/images/download (1).jpeg" width="150px" height="100px"> 
            <p class="text3" style="color:blueviolet">chicken-tikka-1 Pizza</p>
            <img src="../static/images/download (2).jpeg" width="150px" height="100px"> 
            <p class="text4" style="color:blueviolet">Pepperoni Pizza<br></p>
            <img src="../static/images/images.jpeg" width="150px" height="100px"> 
            <p class="text5" style="color:blueviolet">Margherita Pizza<br></p>
        </div>
    <br><br><br>
        <div class="card-2" style=  "flex-wrap: wrap; display: flex;">
            <img src="../static/images/barrett-ward-1qqx3lhaygg-unsplash.jpg" width="150px" height="100px">  
            <p class="text1" style="color:blueviolet">Mozzarella Pizza</p>
            <img src="../static/images/krzysztof-kowalik-kiq_6a78-ki-unsplash_720.jpg" width="150px" height="100px"> 
            <p class="text3" style="color:blueviolet">chicken-tikka-1 Pizza</p>
            <img src="../static/images/henry-becker-0ists7stnm4-unsplash.jpg" width="150px" height="100px"> 
            <p class="text4" style="color:blueviolet">Pepperoni Pizza<br></p>
            <img src="../static/images/jeong-tae-bae-dzqc1r1gx1e-unsplash_720.jpg" width="150px" height="100px"> 
            <p class="text5" style="color:blueviolet">Margherita Pizza<br></p>
        </div>
    </div>
    <br><br><br>
    <div class="card-2" style=  "flex-wrap: wrap; display: flex;">
        <img src="../static/images/bike1.jpg" width="150px" height="100px">  
        <p class="text1" style="color:blueviolet">Mozzarella Pizza</p>
        <img src="../static/images/bike2.jpg" width="150px" height="100px"> 
        <p class="text3" style="color:blueviolet">chicken-tikka-1 Pizza</p>
        <img src="../static/images/bike3.jpg" width="150px" height="100px"> 
        <p class="text4" style="color:blueviolet">Pepperoni Pizza<br></p>
        <img src="../static/images/bike4.jpg" width="150px" height="100px"> 
        <p class="text5" style="color:blueviolet">Margherita Pizza<br></p>
    </div>
    <div class="card-2" style=  "flex-wrap: wrap; display: flex;">
        <img src="../static/images/watch2.jpeg" width="150px" height="100px">  
        <p class="text1" style="color:blueviolet">Mozzarella Pizza</p>
        <img src="../static/images/watch3.jpeg" width="150px" height="100px"> 
        <p class="text3" style="color:blueviolet">chicken-tikka-1 Pizza</p>
        <img src="../static/images/watch4.jpeg" width="150px" height="100px"> 
        <p class="text4" style="color:blueviolet">Pepperoni Pizza<br></p>
        <img src="../static/images/watch1.jpeg" width="150px" height="100px"> 
        <p class="text5" style="color:blueviolet">Margherita Pizza<br></p>
    </div>



</div>


    {% endblock%}

</body>

</html>